.populares {
    padding-bottom: 80px;
    background-color: rgba(248, 120, 0, 0.966);

    img {
        max-width: 100%;
        padding: 12px;
    }

    h1 {
        justify-content: center;
        padding: 5.6vw;
        text-align: center;
        color: white;
    }

    h2 {
        color: red;
        text-align: center;
    }

    h3 {
        color: red;
        text-align: center;
    }

    
}
